body {
  background-color: #333;
}
h3 {
  color: cyan;
  font-size: 3vw;
  font-weight: bold;
}
.leaderboard {
  color: white;
  list-style: none;
  font-weight: bold;
  font-size: 3vw; 
}
.items {
  color: white;
  list-style: none;
  font-weight: bold;
  font-size: 2vw;
}