body {
			background-color: #333;
			margin: 0;
			padding-bottom: 3rem;
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
		}

		.badge {
      height: 33px;
			border: 10px;
			border-radius: 10px;
		}

		.time {
			color: #999;
      font-size: 3.4vw !important;
			opacity: 1
		}

		#chat {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		#chat>li {
			padding: 0.1vw;
			border-radius: 5%;
			background-color: #efefef;
		}

		#chat>li:nth-child(odd) {
			background: #efefef;
		}

		a {
			color: red;
			text-decoration: none;
		}