body {
	margin: 0;
	padding: 0;
	background-color: #333;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
	list-style: none;
}

.message {
	font-size: 18px;
	font-weight: 500;
	border: 2px solid #FF0000;
  background-color: white;
	color: rgb(0, 0, 0);
	border-radius: 25px;
	padding: 20px;
	margin: 10px 0;
}

.darker {
	border-color: #ccc;
	background-color: rgb(111, 25, 182);
	color: white;
}

.message::after {
	content: "";
	clear: both;
	display: table;
}

.profilePic {
  float: left;
	max-width: 60px;
	width: 100%;
	margin-right: 20px;
	border-radius: 50%;
}

.timeStampRight {
	float: right;
	color: rgb(0, 0, 0);
	font-weight: bold;
  font-size: 4vw;
}

.username {
	float: left;
	font-weight: bolder;
}

a {
	color: red;
	text-decoration: none;
}

#playlist {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#playlist>li {
	padding: 0.1vw;
	border-radius: 5%;
	background-color: #efefef;
}

#playlist>li:nth-child(odd) {
	background: #efefef;
}

.loader {
	border: 16px solid #f3f3f3;
	border-top: 16px solid #3498db;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
	align-content: center;
	align-self: center;
	align-items: center;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.waiting {
	color: cyan;
}